.header {
    margin: 20px;
    padding: 20px;
    background-color: brown;
    color: burlywood;
    display: flex;
    justify-content: space-between;
}

#todoList {
    background-color: lightgray;
    padding: 10px;
    margin: 35px;
    border: 1px solid black;
}

.card {
    background-color: lightpink;
    color: white;
    width: 250px;
    height: 150px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;

}

.section {
    column-count: 4;
    display: flex;
    justify-content: flex-start;
    flex-flow: wrap;
    flex-direction: row;
}