* {
    box-sizing: border-box;
}

body {
    color: #6D6875;
    margin: 0;
    background-color: #fae8eb;
}

h1 {
    text-align: center;
    font-size: 40px;;
}

.header {
    background-color: #B5838D;
    color: burlywood;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}

#searchBar {
    width: 250px;
    padding: 10px;
    transition:  0.5s ease-in-out;
    font-style: italic;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid #B392AC;
    cursor: pointer;
}

#searchBar:focus {
    width: 40%;
    border-radius: 5px;
    border: 1px solid #B392AC;
}

.modalForm {
    position: fixed; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.541); 
}

.modalContent {
    background-color:#fae8eb;
    margin: auto;
    padding:25px;
    border: 1px solid #888;
    width: 40%;
    font-size: 30px;
}

.closeFormDIv {
    height: 50px;
    font-size: 40px;
    font-weight: bold;
}

.cancel {
    float: right;    
}

.modalDiv {
    padding: 15px 25px;
}

.formItem {
    display: grid;
    grid-template-columns: 20% 80%;
}

.input {
    height: 30px;
    width: 100%;
    font-size: 20px;
    padding: 10px;
}

.buttons {
    font-size: 17px;
    padding: 5px 18px;
    background-color: #B5838D;
    color: #F8EDEB;
    margin: 0px 10px;
    border: 2px solid #423545;
    border-radius: 10px;
}

#todoList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 30px 80px;
    padding: 10px;
    /* background-color: violet; */
    align-items: center;
}

.card {
    background-color: rgb(255, 182, 193);
    width: auto;
    height: auto;
    margin: 15px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.1);
}

.todoContent {
    font-size: 20px;
    color: #6D6875;
    padding: 15px 0px;
}

.modifyNote {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.checkmark {
    height: 22px;
    width: 22px;
}

.colorButton {
    border: 1px solid black;
    width: 35px;
    height: 30px;
}

.redNote {
    background-color: #ee8486;
    color: white;
}

.blueNote {
    background-color: #A8DADC;
    color: white;
}

.yellowNote {
    background-color: #FDFFB6;
    color: black;
}

.greenNote {
    background-color: #CAFFBF;
    color: black;
}

.pinkNote {
    background-color: #FFC6FF;
    color: black;
}


